*{
    font-family: 'Times New Roman', Times, serif;
}

.background{

    height: 100%;
    background-color: #0096c7;
}

h1{
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size:50px;

}

img{
    height: 500px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 350px;

}

ul{
    color: white;
    font-size: 20px;

}

p{
    color: white;
    font-size:25px ;
    text-align: justify;
}

footer{
    height: 150px;
    background-color: #003049;
    margin: 5px;
    padding-left: 10px;
    border: 5px solid black
}

.thanks{
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    
}

textarea{
    
    border-radius: 10px;
    color: black;
}

.submit{
    border-radius: 7px;
    
}
    